@import "../lib/prism/themes/prism.css";
@import "../lib/angular-snippets/dist/themes/bootstrap-buttons/style";

snippets-tabs pre {
  max-height: 1000px;
}

img.illustration{
  padding-top: 5px;
  padding-bottom: 5px;
}

